<include file="Public/head"/>
<body ontouchstart>
<div class="weui-cells__title">用户登录:</div>
<form method="post" action="{:U('User/dologin')}">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">用户名:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="username" placeholder="请输入用户名" name="username">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">密码:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" id="password" placeholder="请输入密码" name="password">
            </div>
        </div>


        <button class="weui-btn weui-btn_plain-primary" type="submit" id="btn">登录</button>
    </div>
</form>