<include file="Public:head"/>
<body ontouchstart>
<div class="page">
<div class="page_hd">
    <div class="weui-cells__title">员工测评系统</div>
</div>
    <div class="weui-grids">
        <a href="{:U('Common/skillTest')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="__IMAGE__/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">技能考评</p>
        </a>  
        <a href="{:U('Common/pysTest')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="__IMAGE__/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">素质考评</p>
        </a>  
        <a href="{:U('Common/myScore')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="__IMAGE__/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">我的分数</p>
        </a>
    </div>
</div>
<!--九宫格 - 结束-->
<include file="Public:user_footer"/>