<include file="Public/head"/>
<body ontouchstart>
<form action="{:U('Common/index')}" method="post">
        <foreach name="kind" item="vo">
        <div class="weui-cells__title">用户名</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="username" placeholder="请输入用户名" value="{$vo.user_name}">
                </div>
            </div>
        </div>

        <button type="submit" class="weui-btn weui-btn_plain-primary">提交修改</button>
        </foreach>   
</form>
<include file="Public/user_footer"/>
