<include file="Public/head"/>
<body ontouchstart>
    <div class="page__bd">
        <div class="weui-cells__title">技能考评题目</div>

        <volist name="kind" id="vo">
        <a href="{:U('Common/skillDisplay', array('id'=>$vo['sid'], 'type' => 1))}">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">{$vo.skill_name}</div>
            </div>
        </div>
        </a>
        </volist>  
    </div>

<include file="Public/foot"/>